<%- include('includes/head.ejs') %>
    </head>

    <body>
        <div
            class="min-h-[100vh] w-full flex justify-center items-center bg-[url('/images/404svg.svg')] bg-auto bg-no-repeat bg-center">
            <h1 class="text-red-500 text-3xl">
                <p class="text-4xl text-center mb-5">404 Error</p>
                <p class="mb-16 font-bold">Page Not Found!!</p>
            </h1>
        </div>
    </body>

    </html>